@model IEnumerable<Models.Customer>
           
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Customers</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="text/javascript" src="/Scripts/lib/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="/Content/js/bootstrap.js"></script>

    <link rel="Stylesheet" type="text/css" href="/Content/css/bootstrap.css" />
    <link rel="Stylesheet" type="text/css" href="/Content/css/bootstrap-responsive.css" />
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <div class="brand">Customer List</div>

                <div class="nav-collapse">
                    <ul class="nav">
                        <li class="divider-vertical"></li>
                        <li class="active">
                            <a href="#"><i class="icon-user icon-white"></i> Customers</a>
                        </li>
                        <li>
                            <a href="/"><i class="icon-home icon-white"></i> www.resounding.ca</a>
                        </li>
                        <li>
                            <a href="http://resoundingsoftware.wordpress.com"><i class="icon-comment icon-white"></i> Blog</a>
                        </li>
                     </ul>
                     <ul class="nav pull-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-wrench"></i> Settings<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Account</a></li>
                                <li><a href="#">Site Settings</a></li>
                            </ul>
                        </li>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <table class="table" style="margin-top: 40px;">
        <tr>
            <th>&nbsp;</th>
            <th>Customer Name</th>
            <th class="hidden-phone">Contact</th>
            <th class="hidden-phone" style="text-align: center;">$</th>
            <th class="hidden-phone">E-Mail</th>
            <th class="hidden-phone">Phone</th>
            <th class="hidden-phone hidden-tablet">Address</th>
        </tr>
        @foreach (var customer in Model) { 
        <tr>
            <td>
                <a href="#myModal" class="hidden-phone btn btn-primary edit" data-id="@customer.Id">Edit</a>
                <div class="btn-group visible-phone" style="white-space: nowrap;">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <a href="#" class="edit" data-id="@customer.Id"><i class="icon-edit"></i> Edit</a>
                        <a href="mailto:@customer.Email"><i class="icon-envelope"></i> E-mail</a>
                        <a href="tel:@customer.Phone"><i class="icon-bell"></i> Call</a>
                        <a href="map:@customer.City @customer.PostalCode"><i class="icon-globe"></i> Map</a>
                    </ul>
                </div>
            </td>
            <td>
                <span class="hidden-phone">@customer.Name</span>
                <div class="row-fluid visible-phone">
                    <div class="span6">@customer.Name</div>
                    <div class="span5">@customer.Contact</div>
                    <div class="span1">
                        <span class="label label-info">@customer.Revenue.ToString("C0")</span>
                    </div>
                </div>
            </td>
            <td class="hidden-phone">@customer.Contact</td>
            <td class="hidden-phone" style="text-align: right;">
                <span class="hidden-tablet">@customer.Revenue.ToString("C2")</span>
                <span class="visible-tablet">@customer.Revenue.ToString("C0")</span>
            </td>
            <td class="hidden-phone">
                <a href="mailto:@customer.Email">@customer.Email</a>
            </td>
            <td class="hidden-phone">
                <span class="hidden-tablet">@customer.Phone</span>
                <a class="visible-tablet" href="tel:@customer.Phone">@customer.Phone</a>
            </td>
            <td class="hidden-phone hidden-tablet">
                <address>
                    @customer.Address<br />
                    @customer.City, @customer.Province @customer.PostalCode
                </address>
            </td>
        </tr>    
        }
    </table>
    <div class="pagination">
        <ul>
        <li class="disabled">
            <a href="#">Prev</a>
        </li>
        <li class='@(ViewBag.Page == 1 ? "active" : "")'>
            <a href="/Home/Customers?page=1">1</a>
        </li>
        <li class='@(ViewBag.Page == 2 ? "active" : "")'>
            <a href="/Home/Customers?page=2">2</a>
        </li>
        <li class='@(ViewBag.Page == 3 ? "active" : "")'>
            <a href="/Home/Customers?page=3">3</a>
        </li>
        <li class='@(ViewBag.Page == 4 ? "active" : "")'>
            <a href="/Home/Customers?page=4">4</a>
        </li>
        <li class="disabled">
            <a href="#">Next</a>
        </li>
        </ul>
    </div>

    <div id="myModal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Customer Details</h3>
        </div>
        <div class="modal-body">
            <form class="well form-horizontal">
                <div class="control-group">
                    <label class="control-label">Customer Name</label>
                    <div class="controls">
                        <input id="customerName" type="text" class="input-xlarge" placeholder="Customer Name" value="Customer #1" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Contact Name</label>
                    <div class="controls">
                        <input id="contactName" type="text" class="input-xlarge" placeholder="Contact Name" value="First Last" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">E-mail </label>
                    <div class="controls">
                        <input id="email" type="email" class="input-large" placeholder="E-mail address" value="someone@example.com" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Phone</label>
                    <div class="controls">
                        <input id="phone" type="tel" class="input-medium" placeholder="Phone Number" value="1-555-333-5555" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Address</label>
                    <div class="controls">
                        <input id="address" type="text" class="input-xlarge" placeholder="Address" value="210 My St." />
                        <br />
                        <input id="city" type="text" class="input-small" placeholder="City" value="Hamilton" />
                        <select class="input-small">
                            <option value="AB">Alberta</option>
                            <option value="BC">British Columbia</option>
                            <option value="MB">Manitoba</option>
                            <option value="ON">Ontario</option>
                        </select>
                        <input id="postalcode" type="text" class="input-small" placeholder="Postal Code" value="L0F S74" />
                    </div>
                </div>
            </form>
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert">×</button>
                Note that the Save button doesn't really save.
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" data-dismiss="modal" class="btn">Close</a>
            <a href="#" class="btn btn-primary" data-dismiss="modal">Save</a>
        </div>
    </div>

    <script type="text/javascript">
    $(function() {
       $('.edit').click(function(e) {
            e.preventDefault();
            var id = $(this).attr('data-id');
            $.ajax('/Customers/Get/' + id, {
                success: function(customer) {
                    var $modal = $('#myModal');
                    $('#customerName').val(customer.Name);
                    $('#contactName').val(customer.Contact);
                    $('#email').val(customer.Email);
                    $('#phone').val(customer.Phone);
                    $('#address').val(customer.Address);
                    $('#city').val(customer.City);
                    $('#postalcode').val(customer.PostalCode);
                    $modal.modal('show');
                }
            });
       });
    });
    </script>
</body>
</html>
